.navbar {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    position: fixed;
    top: 0;
}

.container-fluid {
    background-color: #828282b3;
    padding: 15px;}
.container-fluid .navbar-brand{
    color: #ffffffb3;

}

.container-fluid .navbar-brand:hover {
    color: #666a66;

}

.navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-nav .nav-link:hover {
    color: #666a66;
}

/****CARRUSEL****/
.carousel-item {
    position: relative;
    height: 700px;
    background: linear-gradient(to bottom, transparent, rgba(20, 22, 19, 0.8));
}

.carousel-item img {
<<<<<<< HEAD
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
}


=======
    height: auto;
    max-height: 700px;
    object-fit: cover;
}

>>>>>>> 98a12a4804a561c1fb668e2ca35d1f96e51906a4
.carousel-inner img {
    opacity: 2;
}

#feedback {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}
.container-fluid .col {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.success {
    color: green;
}

.error {
    color: red;
}
<<<<<<< HEAD

/***CARDS**/

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-body {
    flex-grow: 1;
  }
  .btn-container {
    justify-content: space-between;
    margin-top: auto;
  }

.card-img-top{
    height: 50%;
}

.card{
    text-align: center;
}

.card a{
    justify-content: center;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    margin-top: 50px;
}
=======
footer .col-md-4 {
    text-align: left;
}

footer .list-unstyled li {
    margin-bottom: 10px;
}
footer {
    margin-top: 50px; /* Ajusta el valor según necesites */
}
>>>>>>> 98a12a4804a561c1fb668e2ca35d1f96e51906a4
